language: php

php:
    - 5.5
    - 5.6
    - 7.0
    - hhvm
matrix:
  allow_failures:
    - php: 7.0
    - php: hhvm
services:
  - memcached
  - redis

install:
    - composer install --dev --no-interaction --prefer-source


script:
    - vendor/bin/php-cs-fixer fix -v --dry-run src/
    - vendor/bin/phpunit -c phpunit.xml.dist --colors --coverage-clover=build/logs/clover.xml

before_script: ./.travis.sh
    -
after_script:
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml
